{% load i18n admin_static %}
{% block extrahead %}
{{ super}}

test test test


{% endblock %}

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
{% with choices.0 as i %}
<form method="GET" action="">
    {{ spec.form.media }}
    {{ spec.form.as_p }}
    <p class="submit-row">
        {#create hidden inputs to preserve values from other filters and search field#}
        {% for k, v in i.get_query.items %}
                <input type="hidden" name="{{ k }}" value="{{ v }}">
        {% endfor %}    
    <input type="submit" value="{% trans "Search" %}">
    <input type="reset" value="{% trans "Clear" %}">
    </p>
</form>
{% endwith %}
